.star-rating {
    display: flex;
    color: #FFD700;
    .star {
      width: 0.75rem;
      height: 0.75rem;
      margin-right: 0.25rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  